/*Copyright 2007 Abakuc Limited */
h1, h2 {
font-size:116%;
font-weight:bold;
}

/**************************************************************************
 * YUI overwrites 
 **************************************************************************/
.yui-dt {
  float: left;
  margin: 5px 10px;
}

.yui-dt-title {
  padding-left: 5px;
  font-weight: bold;
  font-size: 85%
}

.yui-dt-credit {
  padding-left: 8px;
  font-style: italic;
  font-size: 77%
}

.yui-gc .yui-u textarea {
width: 98%;
}

/**************************************************************************
 * Header 
 **************************************************************************/
#hd{ background:#6899FF;-moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; }
#hd h1 { background:url(images/logo.png) top left
no-repeat;width:400px;height:62px;}
#hd h1 a{width:400px;line-height:48px;display:block;text-indent:-5000px;text-decoration:none;border:none;background:none;}
#hd h1 a:hover {background:none;border:none;text-decoration: none;}

/**************************************************************************
 * Loader
 **************************************************************************/
DIV#loader {
	margin: auto;
	border: 1px solid #ccc;
	width: 140px;
	height: 55px;
	overflow: hidden;
}

DIV#loader.loading {
	background: #fff url(images/spinner.gif) no-repeat center center;
}

/**************************************************************************
 * Navigation Bar 
 **************************************************************************/
#hd #navbar{position:absolute;top:0;right:15px;text-align:right;}
#hd #navbar ul{float:right;list-style:none;}
#hd #navbar li{float:left;color:white;}
#hd #navbar a{float:left;display:block;color:#333;border:1px solid;border-color:#6899FF;background:#6899FF;margin:0 1px 0 0;padding:1px 8px;}
#hd #navbar a:hover {color:#333;padding-bottom:1px;background:#fff;border:1px solid;border-color:#000;-moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px;-moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px;}

/**************************************************************************
 * Search 
 **************************************************************************/
#hd #search {position:absolute;top:62px;right:15px;text-align:right;}
#hd #bar form {display:block;color:#333;text-decoration:none;border:1px solid #9B8748;border-top:none;background:#F9E9A9;margin:0 1px 0 0;padding:1px 8px;-moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px;-moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; }

#hd .searchinput {
    margin:0px 0px 0px 0px;
    background:#fff url(images/mag_glass.gif) no-repeat;
    padding:2px 2px 2px 17px
}
#search {position:absolute;top:87px;right:21px;text-align:right;}
/**************************************************************************
 * Bar 
 **************************************************************************/

#hd #bar{position:absolute;top:62px;right:15px;text-align:right;}
#hd #bar ul{float:right;list-style:none;margin:0;padding:0;}
#hd #bar li{float:left;margin:0;padding:0;}
#hd #bar a{display:block;color:#333;text-decoration:none;border:1px solid #9B8748;border-top:none;background:#F9E9A9;margin:0 1px 0 0;padding:1px 8px;-moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px;-moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px;}
#hd #bar a:hover {color:#333;padding-bottom:1px;background:#fff;}

#message {
  margin: 0.3em;
  padding: 0.3em 0 0.3em 24px;
  border: 2px solid #000;
  background: #fcaf3e url(/ui/abakuc/images/message.png) left center no-repeat;
}

/**************************************************************************
 * Left menu style 
 **************************************************************************/
#left {
  /*background:url(images/right_nav_bkg.gif) top right no-repeat;*/
  border:1px solid; border-color:#6899FF;
  margin-top: 1em;
}
#left ul {
  display: block;
  padding: 0.1em 0.3em;
}

#left ul:hover {
  background:#6899FF;
}

#left a {
  padding-left: 0.2em;
  font-size: 93%;
  text-decoration:none;
}


/**************************************************************************
 * Left menu style 
 **************************************************************************/
#left_menu {
  text-align: center;
  margin-top: 5px;
}

.menu1_block {
  width: 156px;
}

.menu1 .inactive {
  margin: 1px 1px 0px 0px;
  padding: 4px 2px 4px 2px;
}

.menu1 a, .menu1 a:link, .menu1 a:visited, .menu1 a:hover, .menu1 a:active {
  color: #00eeee;
  font: normal 12px Arial, sans-serif;
}

.menu1 .active {
  margin: 1px 1px 1px 0px;
  padding: 2px 2px 2px 2px;
  font-weight: bold;
}

.menu1 .active a {
  font-weight: bold;
}

.menu2 {
  margin: 1px 1px 1px 0px;
  padding: 2px 2px 0px 0px;
  border-color: #fff;
}

.menu2 a, .menu2 a:link, .menu2 a:visited, .menu2 a:hover, .menu2 a:active {
  font: normal 11px Arial, sans-serif;
  color: #000000;
}

.menu2 .active a, .menu2 a.active {
  font-weight: bold;
}

.menu3 {
  margin: 0px;
  padding: 0px;
}

.menu3 a, .menu3 a:link, .menu3 a:visited, .menu3 a:hover, .menu3 a:active {
  color: #003366;
  font: normal 10px Arial, sans-serif;
}

.menu3 .active a, .menu3 a.active {
  font-weight: bold;
}


/**************************************************************************
 * Right-box style 
 **************************************************************************/
#right-box {
  /*background:url(images/right_box_bkg.gif) top left no-repeat;*/
  border:1px solid; border-color:#6899FF;
  margin: 1em;
  width: 160px;
}
#right-box li {
  display: block;
  border:1px solid; border-color:transparent;
  padding: 0.1em 0.3em;
}

#right-box li:hover {
  background:#6899FF;
  border:1px solid; border-color:#000000;
  font-color: #ffffff;
}
#right-box a {
  padding-left: 0.2em;
  font-size: 93%;
  text-decoration:none;
}

.affiliations { margin:0;padding:0; }
.affiliations ul{float:right;list-style:none;margin:0;padding:0;}
.affiliations li{float:left;}


/**************************************************************************
 * Right column style 
 **************************************************************************/
#bread { margin: 1.2em 0 0.3em 0; font-size: 77%; }
.batch { text-align:right; margin: 0.2em; font-size: 77%; }
.info { text-align:right; margin: 0.3em; font-size: 85%; }
.info h3 { margin-top: 0.8em; text-align:left; font-size: 100%; border-bottom: 1px solid #d3d7cf; }
/**************************************************************************
 * Categories style 
 **************************************************************************/
#wrap	{
	margin: 0 0.5em 0.2em 0.5em;
	background-color: #F5F5F5;
	border: 1px solid #a5a5a5;
}

#categories { 
	margin: 0.1em 0.5em 0.1em 0.5em;
	font-size: 85%;
}

#categories a { 
  text-decoration: none;
}

#categories a:hover {
  text-decoration: underline;
}
/* Browse list */
#browse_list thead th {
  padding: 6px;
  background: #d3d7cf;
  white-space: nowrap;
}

#browse_list thead th.checkbox {
  padding: 6px 3px;
}

#browse_list tbody td {
  padding: 3px;
  vertical-align: top;
}

tr.odd th, tr.odd td {
  background: #eeeeec;
}

th a.sort_up {
  background: transparent url(images/order-up.png) right top no-repeat;
  padding-right: 20px;
  text-decoration: none;
}

th a.sort_down {
  background: transparent url(images/order-down.png) right top no-repeat;
  padding-right: 20px;
  text-decoration: none;
}

th a.sort_none {
  background: transparent url(images/order-none.png) right top no-repeat;
  padding-right: 20px;
  text-decoration: none;
}

.nowrap * { white-space: nowrap; }

/**************************************************************************
 * User Profile   
 **************************************************************************/
.user span a {
	font-size: 77%;
	margin: 0.1em 0.5em 0.1em 0.5em;
  text-decoration: none;
}

.points a {
  text-decoration: none;
  color: #c00;
}
/* Workflow */
.workflow { text-decoration: none; }
.wf_private { color: #c00; }
.wf_pending { color: #f57900; }
.wf_public { color: #4e9a06; }

/**************************************************************************
 * Portrait box   
 **************************************************************************/
.portrait {
  float: right;
	margin: 0.1em;
}
/**************************************************************************
 * Content box   
 **************************************************************************/
#content {
	margin: 0.5em;
  clear: both; 
}
/**************************************************************************
 * News   
 **************************************************************************/
.news {
  clear: both; 
}
.news p {
	margin: 0.5em;
}

.button {
  background-color: #ffffff;
  border-bottom: 2px solid #ffffff;
  cursor: pointer;
  height: 22px;
  margin: 1px 1px 1px 1px;
  padding-bottom: 1px;
  width: 22px;
}

.button:hover {
  border-bottom: 2px solid #ff0000;
}

.formatblock {
  margin-bottom: 2px;
}

.epoz_frame {
  border: 1px #ccc solid;
  height: 300px;
  width: 98%;
}

.epoz_textarea {
  width: 100%;
  height: 300px;
}

.epoz_switch {
  height: 10px;
  margin: 0px;
  width: 10px;
}

/**************************************************************************
 * CJ   
 **************************************************************************/
.cj {
    margin: 10px 0 5px 17px;
}
/**************************************************************************
 * Lists   
 **************************************************************************/
.List {
    margin-left: 5px;
    padding-right: 12px;
}
.ListItem			{ margin: 0; padding: 1px; padding-left: 5px; padding-right: 5px; border-bottom: 1px dashed #BBBBBB; background-color: #FFFFE1; }
.ListItem_Hover		{ margin: 0; padding: 1px; padding-left: 5px; padding-right: 5px; border-bottom: 1px dashed #CCCCCC; background-color: #FFFFCC; }
.ListItem dt { font-size: 93%; font-weight: bold; }
.ListItem_Hover dt { font-size: 93%; font-weight: bold; }
.ListItem dt a { text-decoration: none; color: #000; }
.ListItem_Hover dt a { text-decoration: none; color: #000; }
.SmallText				{ font-size: 77%; color: #666666; }

/**************************************************************************
 * Footer
 **************************************************************************/
#container-1-old { width: 450px;float: left;margin: 5px 5px; }
#container-user-old { width: 550px;float: left;margin: 5px 5px; }
#document IMG { float: left; }
#document  P, IMG { margin: 0em; }


#ft { border-top: 1px solid #6899FF; font-size: 85%; margin-top: 15px;} 
#ft h1 {position:relative;top:-15px;background:url(images/travel-registry.png) top left no-repeat;width:100px;height:37px; }
#ft h1 a { width:100px;line-height:37px;display:block;text-indent:-5000px;text-decoration:none;border:none;background:none;}
#ft ul {list-style:none;margin:0;padding:0;}
#ft li {float:left;margin-top:5px;padding:0;}
#ft a {margin-left: 1em; margin-right: 1em; margin-right: 1em;text-decoration: none;}
#ft a:hover {text-decoration: underline;}
.space { width:95px; }

/* LINKS */
/*
a img { border: 0; }
a.action { display: block; float: right; margin: 0 10px 0 0; background: #ffcc00 url(images/bg_action_primary_right.gif) no-repeat 100% 0; text-decoration: none; color: #000 !important; cursor: pointer; text-align: center; font-size: 13px;}
a.action span { display: block; padding: 4px 10px 0 10px; _padding-bottom: 3px !important; min-height: 19px; background: url(images/bg_action_primary_left.gif) no-repeat 0 0; }
a.action.secondary { background: #dcdcdc url(images/bg_action_secondary_right.gif) no-repeat 100% 0; }
a.action.secondary span { background: url(images/bg_action_secondary_left.gif) no-repeat 0 0; }
a.action:hover { background: #c8e7fa url(images/bg_action_hover_right.gif) no-repeat 100% 0; }
a.action:hover span { background: url(images/bg_action_hover_left.gif) no-repeat 0 0; }
a.action:visited {color: #000;}
*/

/* PAGE NAVIGATION */
.pagenav {
    clear: both;
    font-size: 12px;
    font-weight: bold;
    line-height: 2.4;
    margin: 18px 0pt 0pt;
    text-align: right;
}

.pagenav a:link, .pagenav a:visited, .pagenav a:active {
    background: #FFFFFF none repeat scroll 0%;
    border: 1px solid #AAAAAA;
    color: #000000;
    line-height: 2.2;
    margin: 0pt 1px;
    padding: 0pt 3px;
    text-decoration: none;
}

.pagenav b, pagenav a:hover {
    background: #000000 none repeat scroll 0%;
    border: 1px solid #000000;
    color: #FFFFFF;
    padding: 0pt 3px;
}

/* FORUM */
/* tables */
table.forum {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 40%;
	text-align: left;
}
table.forum thead tr th, table.forum tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.forum thead tr .header {
	/*background-image: url(images/bg.gif);*/
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.forum tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.forum tbody tr.odd td {
	background-color:#F0F0F6;
}
table.forum thead tr .headerSortUp {
	/*background-image: url(images/asc.gif);*/
}
table.forum thead tr .headerSortDown {
	background-image: url(images/desc.gif);
}
table.forum thead tr .headerSortDown, table.forum thead tr .headerSortUp {
background-color: #8dbdd8;
}


/* JOBS */
.job-details { clear: both; float: left; width: 100%; }
.job-details .exclusive { margin: 0; background: url(/img/icon/icon_exclusivejob_18x17.gif) 25px 0 no-repeat; padding: 2px 0 2px 48px; font-size: 85%; }
.job-details dl { margin: 0 0 10px; }
.job-details dt { float: left; width: 120px; margin: 0 7px 5px 0; text-align: right; font-weight : bold; }
.job-details dd { margin: 0 0 5px; }
.job-details dd strong { color: #666; font-weight: normal; }
.job-details dd img { vertical-align: middle; }
.job-details h2 { clear: both; margin-bottom: 10px; padding-bottom: 5px; font-size: 120%; }
.job-details h3 { font-size: 120%; margin-top: 15px; padding-top: 15px; margin-bottom: 10px; }
.job-details p { line-height: 1.3; }
.job-details .action { margin: 10px 10px 20px 0; }
.job-details ul { margin: 10px 0 0 .7em; padding-left: .7em; }
.job-details li { margin-bottom: 2px; }
.job-details li span { display: block; _height: 1%; }
.job-details li span, .viewjob .job-details li span a:link, .viewjob .job-details li span a:visited { color: #666; }
.job-details .jobid { font-size: 85%; color: #666; }

/**************************************************************************
 * Content box   
 **************************************************************************/
#news-doc { margin-top: 5px; }
#news-doc h1, #news-doc h2, #news-doc h3, #news-doc h4, #news-doc h5, #news-doc h6
{ border-bottom: 1px solid #d3d7cf; }
#news-doc ol li { list-style-type: decimal; margin: 5px 5px 5px 10px; }
#news-doc ul { margin-left: 20px; }
#news-doc ul li { list-style-type: square; }
#news-doc span { text-align: justify; }
#news-doc table { margin: 15px; }
#news-doc p, #news-doc div { margin: 5px; }
#news-doc form fieldset { border-bottom: 1px solid #d3d7cf; }
#news-doc form legend { font-size: 0.9em; }
#news-doc form dd { padding-bottom: 0.5em; }
#news-doc form p { clear: both; }
#news-doc form .form_mandatory { color: red; font-weight: bold; }
#news-doc .field_required { font-style: italic; }
#news-doc form .missing { color: #ff0000; }
/* IMAGE WITH TEXT WRAPPED AROUND IT */
#news-doc span.news-doc-image { float: right; margin: 5px 5px 0 5px; }
#news-doc img.news-doc-image { margin: 5px; }
#news-doc dt.news-doc-image { margin-bottom: 5px; }

/* IMAGE WITH TEXT WRAPPED AROUND IT */
span.image { float: right; }


/**************************************************************************
 * jQuery Tabs overwrites 
 **************************************************************************/

 #tab2 .ui-widget-content {
    margin-top: -5px;
    font-size: 93%; /* 12px */
    border-top: None;
 }
 
/* Embedded Tabs
----------------------------------*/
.ui-tabs-embedded .ui-widget-header { background: none; border-width: 0 0 1px !important; }
.ui-tabs-embedded .ui-tabs-panel { padding: 1em 1.4em; display: block; border-width: 0 1px 1px 1px !important; background: none; }
.ui-tabs-embedded .ui-tabs .ui-tabs-nav { list-style: none; position: relative; padding: .6em .2em 0; }
.ui-tabs-embedded .ui-tabs .ui-tabs-nav li { position: relative; float: left; border-bottom-width: 1px !important; margin: 0 .2em -4px 0; padding: 0; }
.ui-tabs-embedded .ui-tabs .ui-tabs-nav li a { float: right; text-decoration: none; padding: .5em 1em; }
.ui-tabs-embedded .ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 1px; border-bottom-width: 1px; }
.ui-tabs-embedded .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs-embedded .ui-tabs .ui-tabs-nav li a, .ui-tabs-embedded .ui-tabs .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs-embedded .ui-tabs .ui-tabs-hide { display: none !important; }

/* Vertical Tabs
----------------------------------*/
.ui-tabs-vertical .ui-tabs-nav { float: right; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { width: 100%; border-bottom-width: 2px !important; border-right-width: 3px !important; padding: 0 0 0 1px; }
.ui-tabs-vertical .ui-corner-right {  -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; -moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { padding: 0 0 0 .1em; border-left-width: 0; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { float: left; border-width: 0 !important; }

/* Sprite Flags
#language {position:absolute;top:44px;right:25px;list-style:none;overflow:hidden;}
#language li {display:inline;}
#language li a {display: block;width:17px;height:12px;text-indent:-9999px;background-image:url(/ui/abakuc/images/sprite-flags.gif);float:left;}
#language li a.selected{height:18px;}

#language li a#lang-en{background-position:0px 0px;}
#language li a#lang-de{background-position:-17px 0px;}
#language li a#lang-nl{background-position:-34px 0px;}
#language li a#lang-fr{background-position:-51px 0px;}
#language li a#lang-es{background-position:-68px 0px;}
#language li a#lang-ca{background-position:-85px 0px;}
#language li a#lang-it{background-position:-102px 0px;}
#language li a#lang-pt{background-position:-119px 0px;}
#language li a#lang-no{background-position:-136px 0px;}
#language li a#lang-fi{background-position:-153px 0px;}
#language li a#lang-sv{background-position:-170px 0px;}
#language li a#lang-da{background-position:-187px 0px;}
#language li a#lang-ja{background-position:-204px 0px;}
#language li a#lang-zh{background-position:-221px 0px;}
#language li a#lang-pl{background-position:-238px 0px;}
#language li a#lang-el{background-position:-255px 0px;}
#language li a#lang-ru{background-position:-272px 0px;}
#language li a#lang-tr{background-position:-289px 0px;}
#language li a#lang-hu{background-position:-306px 0px;}
#language li a#lang-ro{background-position:-323px 0px;}
#language li a#lang-cs{background-position:-340px 0px;}
#language li a#lang-bg{background-position:-357px 0px;}
#language li a#lang-ko{background-position:-374px 0px;}
#language li a#lang-ar{background-position:-391px 0px;}


----------------------------------*/
#language {position:absolute;top:44px;right:25px;list-style:none;overflow:hidden;}
#language li {display:inline;}
#language li a {display: block;width:20px;height:11px;text-indent:-9999px;background-image:url(/ui/abakuc/images/flags-sprite.png);float:left;}

#language li a#lang-ad { background-position: 0 0; } 
#language li a#lang-ae { background-position: -20px 0; } 
#language li a#lang-af { background-position: -40px 0; } 
#language li a#lang-ag { background-position: -60px 0; } 
#language li a#lang-al { background-position: -80px 0; } 
#language li a#lang-am { background-position: -100px 0; } 
#language li a#lang-ao { background-position: -120px 0; } 
#language li a#lang-ar { background-position: -140px 0; } 
#language li a#lang-at { background-position: -159px 0; } 
#language li a#lang-au { background-position: -179px 0; } 
#language li a#lang-az { background-position: -199px 0; } 
#language li a#lang-ba { background-position: -219px 0; } 
#language li a#lang-bb { background-position: -239px 0; } 
#language li a#lang-bd { background-position: -259px 0; } 
#language li a#lang-be { background-position: -279px 0; } 
#language li a#lang-bf { background-position: -299px 0; } 
#language li a#lang-bg { background-position: -319px 0; } 
#language li a#lang-bh { background-position: -339px 0; } 
#language li a#lang-bi { background-position: -359px 0; } 
#language li a#lang-bj { background-position: -379px 0; } 
#language li a#lang-bn { background-position: -399px 0; } 
#language li a#lang-bo { background-position: -419px 0; } 
#language li a#lang-br { background-position: -439px 0; } 
#language li a#lang-bs { background-position: -458px 0; } 
#language li a#lang-bt { background-position: -478px 0; } 
#language li a#lang-bw { background-position: -498px 0; } 
#language li a#lang-by { background-position: -518px 0; } 
#language li a#lang-bz { background-position: -538px 0; } 
#language li a#lang-ca { background-position: -558px 0; } 
#language li a#lang-cd { background-position: -578px 0; } 
#language li a#lang-cf { background-position: -598px 0; } 
#language li a#lang-cg { background-position: -618px 0; } 
#language li a#lang-ch { background-position: -638px 0; } 
#language li a#lang-ci { background-position: -658px 0; } 
#language li a#lang-cl { background-position: -678px 0; } 
#language li a#lang-cm { background-position: -698px 0; } 
#language li a#lang-cn { background-position: -718px 0; } 
#language li a#lang-co { background-position: -738px 0; } 
#language li a#lang-cr { background-position: -758px 0; } 
#language li a#lang-cu { background-position: -778px 0; } 
#language li a#lang-cv { background-position: -798px 0; } 
#language li a#lang-cy { background-position: -818px 0; } 
#language li a#lang-cz { background-position: -838px 0; } 
#language li a#lang-de { background-position: -858px 0; } 
#language li a#lang-dj { background-position: -878px 0; } 
#language li a#lang-dk { background-position: -898px 0; } 
#language li a#lang-dm { background-position: -918px 0; } 
#language li a#lang-do { background-position: -938px 0; } 
#language li a#lang-dz { background-position: -958px 0; } 
#language li a#lang-ec { background-position: -978px 0; } 
#language li a#lang-ee { background-position: -998px 0; } 
#language li a#lang-eg { background-position: -1018px 0; } 
#language li a#lang-eh { background-position: -1038px 0; } 
#language li a#lang-er { background-position: -1058px 0; } 
#language li a#lang-es { background-position: -1078px 0; } 
#language li a#lang-et { background-position: -1098px 0; } 
#language li a#lang-fi { background-position: -1118px 0; } 
#language li a#lang-fj { background-position: -1138px 0; } 
#language li a#lang-fr { background-position: -1158px 0; } 
#language li a#lang-ga { background-position: -1178px 0; } 
#language li a#lang-ge { background-position: -1198px 0; } 
#language li a#lang-gh { background-position: -1218px 0; } 
#language li a#lang-gm { background-position: -1238px 0; } 
#language li a#lang-gn { background-position: -1258px 0; } 
#language li a#lang-gq { background-position: -1278px 0; } 
#language li a#lang-gr { background-position: -1298px 0; } 
#language li a#lang-gt { background-position: -1317px 0; } 
#language li a#lang-gw { background-position: -1337px 0; } 
#language li a#lang-gy { background-position: -1357px 0; } 
#language li a#lang-hn { background-position: -1377px 0; } 
#language li a#lang-hr { background-position: -1397px 0; } 
#language li a#lang-ht { background-position: -1417px 0; } 
#language li a#lang-hu { background-position: -1437px 0; } 
#language li a#lang-id { background-position: -1457px 0; } 
#language li a#lang-ie { background-position: -1477px 0; } 
#language li a#lang-il { background-position: -1497px 0; } 
#language li a#lang-in { background-position: -1517px 0; } 
#language li a#lang-iq { background-position: -1537px 0; } 
#language li a#lang-ir { background-position: -1557px 0; } 
#language li a#lang-is { background-position: -1577px 0; } 
#language li a#lang-it { background-position: -1597px 0; } 
#language li a#lang-jm { background-position: -1617px 0; } 
#language li a#lang-jo { background-position: -1637px 0; } 
#language li a#lang-jp { background-position: -1657px 0; } 
#language li a#lang-ke { background-position: -1677px 0; } 
#language li a#lang-kg { background-position: -1697px 0; } 
#language li a#lang-kh { background-position: -1717px 0; } 
#language li a#lang-ki { background-position: -1737px 0; } 
#language li a#lang-km { background-position: -1757px 0; } 
#language li a#lang-kn { background-position: -1777px 0; } 
#language li a#lang-kp { background-position: -1797px 0; } 
#language li a#lang-kr { background-position: -1817px 0; } 
#language li a#lang-kw { background-position: -1837px 0; } 
#language li a#lang-kz { background-position: -1857px 0; } 
#language li a#lang-la { background-position: -1877px 0; } 
#language li a#lang-lb { background-position: -1897px 0; } 
#language li a#lang-li { background-position: -1917px 0; } 
#language li a#lang-lk { background-position: -1937px 0; } 
#language li a#lang-lr { background-position: -1957px 0; } 
#language li a#lang-ls { background-position: -1977px 0; } 
#language li a#lang-lt { background-position: -1997px 0; } 
#language li a#lang-lu { background-position: 0 -14px; } 
#language li a#lang-lv { background-position: -20px -14px; } 
#language li a#lang-ly { background-position: -40px -14px; } 
#language li a#lang-ma { background-position: -60px -14px; } 
#language li a#lang-mc { background-position: -80px -14px; } 
#language li a#lang-md { background-position: -100px -14px; } 
#language li a#lang-me { background-position: -120px -14px; } 
#language li a#lang-mg { background-position: -140px -14px; } 
#language li a#lang-mh { background-position: -160px -14px; } 
#language li a#lang-mk { background-position: -180px -14px; } 
#language li a#lang-ml { background-position: -200px -14px; } 
#language li a#lang-mm { background-position: -220px -14px; } 
#language li a#lang-mn { background-position: -240px -14px; } 
#language li a#lang-mr { background-position: -260px -14px; } 
#language li a#lang-mt { background-position: -280px -14px; } 
#language li a#lang-mu { background-position: -300px -14px; } 
#language li a#lang-mv { background-position: -320px -14px; } 
#language li a#lang-mw { background-position: -340px -14px; } 
#language li a#lang-mx { background-position: -360px -14px; } 
#language li a#lang-my { background-position: -380px -14px; } 
#language li a#lang-mz { background-position: -400px -14px; } 
#language li a#lang-na { background-position: -420px -14px; } 
#language li a#lang-ne { background-position: -440px -14px; } 
#language li a#lang-ng { background-position: -460px -14px; } 
#language li a#lang-ni { background-position: -480px -14px; } 
#language li a#lang-nl { background-position: -500px -14px; } 
#language li a#lang-no { background-position: -520px -14px; } 
#language li a#lang-np { background-position: -540px -14px; } 
#language li a#lang-nr { background-position: -560px -14px; } 
#language li a#lang-nz { background-position: -580px -14px; } 
#language li a#lang-om { background-position: -600px -14px; } 
#language li a#lang-pa { background-position: -620px -14px; } 
#language li a#lang-pe { background-position: -640px -14px; } 
#language li a#lang-pg { background-position: -660px -14px; } 
#language li a#lang-ph { background-position: -680px -14px; } 
#language li a#lang-pk { background-position: -700px -14px; } 
#language li a#lang-pl { background-position: -720px -14px; } 
#language li a#lang-ps { background-position: -740px -14px; } 
#language li a#lang-pt { background-position: -760px -14px; } 
#language li a#lang-pw { background-position: -780px -14px; } 
#language li a#lang-py { background-position: -800px -14px; } 
#language li a#lang-qa { background-position: -820px -14px; } 
#language li a#lang-ro { background-position: -840px -14px; } 
#language li a#lang-rs { background-position: -860px -14px; } 
#language li a#lang-ru { background-position: -880px -14px; } 
#language li a#lang-rw { background-position: -900px -14px; } 
#language li a#lang-sa { background-position: -920px -14px; } 
#language li a#lang-sb { background-position: -940px -14px; } 
#language li a#lang-sc { background-position: -960px -14px; } 
#language li a#lang-sd { background-position: -980px -14px; } 
#language li a#lang-se { background-position: -1000px -14px; } 
#language li a#lang-sg { background-position: -1020px -14px; } 
#language li a#lang-si { background-position: -1040px -14px; } 
#language li a#lang-sk { background-position: -1060px -14px; } 
#language li a#lang-sl { background-position: -1080px -14px; } 
#language li a#lang-sm { background-position: -1100px -14px; } 
#language li a#lang-sn { background-position: -1120px -14px; } 
#language li a#lang-so { background-position: -1140px -14px; } 
#language li a#lang-sr { background-position: -1160px -14px; } 
#language li a#lang-st { background-position: -1180px -14px; } 
#language li a#lang-sv { background-position: -1200px -14px; } 
#language li a#lang-sy { background-position: -1220px -14px; } 
#language li a#lang-sz { background-position: -1240px -14px; } 
#language li a#lang-td { background-position: -1260px -14px; } 
#language li a#lang-tg { background-position: -1280px -14px; } 
#language li a#lang-th { background-position: -1300px -14px; } 
#language li a#lang-tj { background-position: -1320px -14px; } 
#language li a#lang-tl { background-position: -1340px -14px; } 
#language li a#lang-tm { background-position: -1360px -14px; } 
#language li a#lang-tn { background-position: -1380px -14px; } 
#language li a#lang-to { background-position: -1400px -14px; } 
#language li a#lang-tr { background-position: -1420px -14px; } 
#language li a#lang-tt { background-position: -1440px -14px; } 
#language li a#lang-tv { background-position: -1460px -14px; } 
#language li a#lang-tz { background-position: -1480px -14px; } 
#language li a#lang-ua { background-position: -1500px -14px; } 
#language li a#lang-ug { background-position: -1520px -14px; } 
#language li a#lang-en { background-position: -1540px -14px; } 
#language li a#lang-us { background-position: -1560px -14px; } 
#language li a#lang-uy { background-position: -1580px -14px; } 
#language li a#lang-uz { background-position: -1600px -14px; } 
#language li a#lang-ve { background-position: -1620px -14px; } 
#language li a#lang-vn { background-position: -1640px -14px; } 
#language li a#lang-vu { background-position: -1660px -14px; } 
#language li a#lang-ws { background-position: -1680px -14px; } 
#language li a#lang-ye { background-position: -1700px -14px; } 
#language li a#lang-za { background-position: -1720px -14px; } 
#language li a#lang-zm { background-position: -1740px -14px; } 
#language li a#lang-zw { background-position: -1760px -14px; } 


.sprite-ad { background-position: 0 0; } 
.sprite-ae { background-position: -28px 0; } 
.sprite-af { background-position: -56px 0; } 
.sprite-ag { background-position: -84px 0; } 
.sprite-ai { background-position: -112px 0; } 
.sprite-al { background-position: -140px 0; } 
.sprite-am { background-position: -168px 0; } 
.sprite-an { background-position: -196px 0; } 
.sprite-ao { background-position: -224px 0; } 
.sprite-ar { background-position: -252px 0; } 
.sprite-as { background-position: -280px 0; } 

.sprite-at { background-position: -308px 0; } 
.sprite-au { background-position: -336px 0; } 
.sprite-aw { background-position: -364px 0; } 
.sprite-ax { background-position: -392px 0; } 
.sprite-az { background-position: -420px 0; } 
.sprite-ba { background-position: -448px 0; } 
.sprite-bb { background-position: -476px 0; } 
.sprite-bd { background-position: -504px 0; } 
.sprite-be { background-position: -532px 0; } 
.sprite-bf { background-position: -560px 0; } 
.sprite-bg { background-position: -588px 0; } 

.sprite-bh { background-position: -616px 0; } 
.sprite-bi { background-position: -644px 0; } 
.sprite-bj { background-position: -672px 0; } 
.sprite-bm { background-position: -700px 0; } 
.sprite-bn { background-position: -728px 0; } 
.sprite-bo { background-position: -756px 0; } 
.sprite-br { background-position: -784px 0; } 
.sprite-bs { background-position: -812px 0; } 
.sprite-bt { background-position: -840px 0; } 
.sprite-bv { background-position: -868px 0; } 
.sprite-bw { background-position: -896px 0; } 

.sprite-by { background-position: -924px 0; } 
.sprite-bz { background-position: -952px 0; } 
.sprite-ca { background-position: -980px 0; } 
.sprite-catalonia { background-position: -1008px 0; } 
.sprite-cc { background-position: -1036px 0; } 
.sprite-cd { background-position: -1064px 0; } 
.sprite-cf { background-position: -1092px 0; } 
.sprite-cg { background-position: -1120px 0; } 
.sprite-ch { background-position: -1148px 0; } 
.sprite-ci { background-position: -1171px 0; } 
.sprite-ck { background-position: -1199px 0; } 

.sprite-cl { background-position: -1227px 0; } 
.sprite-cm { background-position: -1255px 0; } 
.sprite-cn { background-position: -1283px 0; } 
.sprite-co { background-position: -1311px 0; } 
.sprite-cr { background-position: -1339px 0; } 
.sprite-cs { background-position: -1367px 0; } 
.sprite-cu { background-position: -1395px 0; } 
.sprite-cv { background-position: -1423px 0; } 
.sprite-cx { background-position: -1451px 0; } 
.sprite-cy { background-position: -1479px 0; } 
.sprite-cz { background-position: -1507px 0; } 

.sprite-de { background-position: -1535px 0; } 
.sprite-dj { background-position: -1563px 0; } 
.sprite-dk { background-position: -1591px 0; } 
.sprite-dm { background-position: -1619px 0; } 
.sprite-do { background-position: -1647px 0; } 
.sprite-dz { background-position: -1675px 0; } 
.sprite-ec { background-position: -1703px 0; } 
.sprite-ee { background-position: -1731px 0; } 
.sprite-eg { background-position: -1759px 0; } 
.sprite-eh { background-position: -1787px 0; } 
.sprite-england { background-position: -1815px 0; } 

.sprite-er { background-position: -1843px 0; } 
.sprite-es { background-position: -1871px 0; } 
.sprite-et { background-position: -1899px 0; } 
.sprite-europeanunion { background-position: -1927px 0; } 
.sprite-fam { background-position: -1955px 0; } 
.sprite-fi { background-position: -1983px 0; } 
.sprite-fj { background-position: 0 -28px; } 
.sprite-fk { background-position: -28px -28px; } 
.sprite-fm { background-position: -56px -28px; } 
.sprite-fo { background-position: -84px -28px; } 
.sprite-fr { background-position: -112px -28px; } 

.sprite-ga { background-position: -140px -28px; } 
.sprite-gb { background-position: -168px -28px; } 
.sprite-gd { background-position: -196px -28px; } 
.sprite-ge { background-position: -224px -28px; } 
.sprite-gf { background-position: -252px -28px; } 
.sprite-gh { background-position: -280px -28px; } 
.sprite-gi { background-position: -308px -28px; } 
.sprite-gl { background-position: -336px -28px; } 
.sprite-gm { background-position: -364px -28px; } 
.sprite-gn { background-position: -392px -28px; } 
.sprite-gp { background-position: -420px -28px; } 

.sprite-gq { background-position: -448px -28px; } 
.sprite-gr { background-position: -476px -28px; } 
.sprite-gs { background-position: -504px -28px; } 
.sprite-gt { background-position: -532px -28px; } 
.sprite-gu { background-position: -560px -28px; } 
.sprite-gw { background-position: -588px -28px; } 
.sprite-gy { background-position: -616px -28px; } 
.sprite-hk { background-position: -644px -28px; } 
.sprite-hm { background-position: -672px -28px; } 
.sprite-hn { background-position: -700px -28px; } 
.sprite-hr { background-position: -728px -28px; } 

.sprite-ht { background-position: -756px -28px; } 
.sprite-hu { background-position: -784px -28px; } 
.sprite-id { background-position: -812px -28px; } 
.sprite-ie { background-position: -840px -28px; } 
.sprite-il { background-position: -868px -28px; } 
.sprite-in { background-position: -896px -28px; } 
.sprite-io { background-position: -924px -28px; } 
.sprite-iq { background-position: -952px -28px; } 
.sprite-ir { background-position: -980px -28px; } 
.sprite-is { background-position: -1008px -28px; } 
.sprite-it { background-position: -1036px -28px; } 

.sprite-jm { background-position: -1064px -28px; } 
.sprite-jo { background-position: -1092px -28px; } 
.sprite-jp { background-position: -1120px -28px; } 
.sprite-ke { background-position: -1148px -28px; } 
.sprite-kg { background-position: -1176px -28px; } 
.sprite-kh { background-position: -1204px -28px; } 
.sprite-ki { background-position: -1232px -28px; } 
.sprite-km { background-position: -1260px -28px; } 
.sprite-kn { background-position: -1288px -28px; } 
.sprite-kp { background-position: -1316px -28px; } 
.sprite-kr { background-position: -1344px -28px; } 

.sprite-kw { background-position: -1372px -28px; } 
.sprite-ky { background-position: -1400px -28px; } 
.sprite-kz { background-position: -1428px -28px; } 
.sprite-la { background-position: -1456px -28px; } 
.sprite-lb { background-position: -1484px -28px; } 
.sprite-lc { background-position: -1512px -28px; } 
.sprite-li { background-position: -1540px -28px; } 
.sprite-lk { background-position: -1568px -28px; } 
.sprite-lr { background-position: -1596px -28px; } 
.sprite-ls { background-position: -1624px -28px; } 
.sprite-lt { background-position: -1652px -28px; } 

.sprite-lu { background-position: -1680px -28px; } 
.sprite-lv { background-position: -1708px -28px; } 
.sprite-ly { background-position: -1736px -28px; } 
.sprite-ma { background-position: -1764px -28px; } 
.sprite-mc { background-position: -1792px -28px; } 
.sprite-md { background-position: -1820px -28px; } 
.sprite-me { background-position: -1848px -28px; } 
.sprite-mg { background-position: -1876px -28px; } 
.sprite-mh { background-position: -1904px -28px; } 
.sprite-mk { background-position: -1932px -28px; } 
.sprite-ml { background-position: -1960px -28px; } 

.sprite-mm { background-position: 0 -57px; } 
.sprite-mn { background-position: -28px -57px; } 
.sprite-mo { background-position: -56px -57px; } 
.sprite-mp { background-position: -84px -57px; } 
.sprite-mq { background-position: -112px -57px; } 
.sprite-mr { background-position: -140px -57px; } 
.sprite-ms { background-position: -168px -57px; } 
.sprite-mt { background-position: -196px -57px; } 
.sprite-mu { background-position: -224px -57px; } 
.sprite-mv { background-position: -252px -57px; } 
.sprite-mw { background-position: -280px -57px; } 

.sprite-mx { background-position: -308px -57px; } 
.sprite-my { background-position: -336px -57px; } 
.sprite-mz { background-position: -364px -57px; } 
.sprite-na { background-position: -392px -57px; } 
.sprite-nc { background-position: -420px -57px; } 
.sprite-ne { background-position: -448px -57px; } 
.sprite-nf { background-position: -476px -57px; } 
.sprite-ng { background-position: -504px -57px; } 
.sprite-ni { background-position: -532px -57px; } 
.sprite-nl { background-position: -560px -57px; } 
.sprite-no { background-position: -588px -57px; } 
.sprite-np { background-position: -616px -57px; } 
.sprite-nr { background-position: -637px -57px; } 
.sprite-nu { background-position: -665px -57px; } 
.sprite-nz { background-position: -693px -57px; } 
.sprite-om { background-position: -721px -57px; } 
.sprite-pa { background-position: -749px -57px; } 
.sprite-pe { background-position: -777px -57px; } 
.sprite-pf { background-position: -805px -57px; } 
.sprite-pg { background-position: -833px -57px; } 
.sprite-ph { background-position: -861px -57px; } 
.sprite-pk { background-position: -889px -57px; } 
.sprite-pl { background-position: -917px -57px; } 
.sprite-pm { background-position: -945px -57px; } 
.sprite-pn { background-position: -973px -57px; } 
.sprite-pr { background-position: -1001px -57px; } 
.sprite-ps { background-position: -1029px -57px; } 
.sprite-pt { background-position: -1057px -57px; } 
.sprite-pw { background-position: -1085px -57px; } 
.sprite-py { background-position: -1113px -57px; } 
.sprite-qa { background-position: -1141px -57px; } 
.sprite-re { background-position: -1169px -57px; } 
.sprite-ro { background-position: -1197px -57px; } 
.sprite-rs { background-position: -1225px -57px; } 
.sprite-ru { background-position: -1253px -57px; } 
.sprite-rw { background-position: -1281px -57px; } 
.sprite-sa { background-position: -1309px -57px; } 
.sprite-sb { background-position: -1337px -57px; } 
.sprite-sc { background-position: -1365px -57px; } 
.sprite-scotland { background-position: -1393px -57px; } 
.sprite-sd { background-position: -1421px -57px; } 
.sprite-se { background-position: -1449px -57px; } 
.sprite-sg { background-position: -1477px -57px; } 
.sprite-sh { background-position: -1505px -57px; } 
.sprite-si { background-position: -1533px -57px; } 
.sprite-sj { background-position: -1561px -57px; } 
.sprite-sk { background-position: -1589px -57px; } 
.sprite-sl { background-position: -1617px -57px; } 
.sprite-sm { background-position: -1645px -57px; } 
.sprite-sn { background-position: -1673px -57px; } 
.sprite-so { background-position: -1701px -57px; } 
.sprite-sr { background-position: -1729px -57px; } 
.sprite-st { background-position: -1757px -57px; } 
.sprite-sv { background-position: -1785px -57px; } 
.sprite-sy { background-position: -1813px -57px; } 
.sprite-sz { background-position: -1841px -57px; } 
.sprite-tc { background-position: -1869px -57px; } 
.sprite-td { background-position: -1897px -57px; } 
.sprite-tf { background-position: -1925px -57px; } 
.sprite-tg { background-position: -1953px -57px; } 
.sprite-th { background-position: -1981px -57px; } 
.sprite-tj { background-position: 0 -86px; } 
.sprite-tk { background-position: -28px -86px; } 
.sprite-tl { background-position: -56px -86px; } 
.sprite-tm { background-position: -84px -86px; } 
.sprite-tn { background-position: -112px -86px; } 
.sprite-to { background-position: -140px -86px; } 
.sprite-tr { background-position: -168px -86px; } 
.sprite-tt { background-position: -196px -86px; } 
.sprite-tv { background-position: -224px -86px; } 
.sprite-tw { background-position: -252px -86px; } 
.sprite-tz { background-position: -280px -86px; } 
.sprite-ua { background-position: -308px -86px; } 
.sprite-ug { background-position: -336px -86px; } 
.sprite-um { background-position: -364px -86px; } 
.sprite-us { background-position: -392px -86px; } 
.sprite-uy { background-position: -420px -86px; } 
.sprite-uz { background-position: -448px -86px; } 
.sprite-va { background-position: -476px -86px; } 
.sprite-vc { background-position: -504px -86px; } 
.sprite-ve { background-position: -532px -86px; } 
.sprite-vg { background-position: -560px -86px; } 
.sprite-vi { background-position: -588px -86px; } 
.sprite-vn { background-position: -616px -86px; } 
.sprite-vu { background-position: -644px -86px; } 
.sprite-wales { background-position: -672px -86px; } 
.sprite-wf { background-position: -700px -86px; } 
.sprite-ws { background-position: -728px -86px; } 
.sprite-ye { background-position: -756px -86px; } 
.sprite-yt { background-position: -784px -86px; } 
.sprite-za { background-position: -812px -86px; } 
.sprite-zm { background-position: -840px -86px; } 
.sprite-zw { background-position: -868px -86px; } 

/* CaptchaWidget */
.show-if-no-password {display: none;}

