/* Sprite Flags
----------------------------------*/
#language {list-style:none;padding-top:5px;}
#language li {display:inline;float: right;}
#language li a {display: block;width:20px;height:11px;text-indent:-9999px;background-image:url(/ui/core/resources/flags-sprite.png);float:left;}

#language li a#lang-ad { background-position: 0 0; } 
#language li a#lang-ae { background-position: -20px 0; } 
#language li a#lang-af { background-position: -40px 0; } 
#language li a#lang-ag { background-position: -60px 0; } 
#language li a#lang-al { background-position: -80px 0; } 
#language li a#lang-am { background-position: -100px 0; } 
#language li a#lang-ao { background-position: -120px 0; } 
#language li a#lang-ar { background-position: -140px 0; } 
#language li a#lang-at { background-position: -159px 0; } 
#language li a#lang-au { background-position: -179px 0; } 
#language li a#lang-az { background-position: -199px 0; } 
#language li a#lang-ba { background-position: -219px 0; } 
#language li a#lang-bb { background-position: -239px 0; } 
#language li a#lang-bd { background-position: -259px 0; } 
#language li a#lang-be { background-position: -279px 0; } 
#language li a#lang-bf { background-position: -299px 0; } 
#language li a#lang-bg { background-position: -319px 0; } 
#language li a#lang-bh { background-position: -339px 0; } 
#language li a#lang-bi { background-position: -359px 0; } 
#language li a#lang-bj { background-position: -379px 0; } 
#language li a#lang-bn { background-position: -399px 0; } 
#language li a#lang-bo { background-position: -419px 0; } 
#language li a#lang-br { background-position: -439px 0; } 
#language li a#lang-bs { background-position: -458px 0; } 
#language li a#lang-bt { background-position: -478px 0; } 
#language li a#lang-bw { background-position: -498px 0; } 
#language li a#lang-by { background-position: -518px 0; } 
#language li a#lang-bz { background-position: -538px 0; } 
#language li a#lang-ca { background-position: -558px 0; } 
#language li a#lang-cd { background-position: -578px 0; } 
#language li a#lang-cf { background-position: -598px 0; } 
#language li a#lang-cg { background-position: -618px 0; } 
#language li a#lang-ch { background-position: -638px 0; } 
#language li a#lang-ci { background-position: -658px 0; } 
#language li a#lang-cl { background-position: -678px 0; } 
#language li a#lang-cm { background-position: -698px 0; } 
#language li a#lang-cn { background-position: -718px 0; } 
#language li a#lang-co { background-position: -738px 0; } 
#language li a#lang-cr { background-position: -758px 0; } 
#language li a#lang-cu { background-position: -778px 0; } 
#language li a#lang-cv { background-position: -798px 0; } 
#language li a#lang-cy { background-position: -818px 0; } 
#language li a#lang-cz { background-position: -838px 0; } 
#language li a#lang-de { background-position: -858px 0; } 
#language li a#lang-dj { background-position: -878px 0; } 
#language li a#lang-dk { background-position: -898px 0; } 
#language li a#lang-dm { background-position: -918px 0; } 
#language li a#lang-do { background-position: -938px 0; } 
#language li a#lang-dz { background-position: -958px 0; } 
#language li a#lang-ec { background-position: -978px 0; } 
#language li a#lang-ee { background-position: -998px 0; } 
#language li a#lang-eg { background-position: -1018px 0; } 
#language li a#lang-eh { background-position: -1038px 0; } 
#language li a#lang-er { background-position: -1058px 0; } 
#language li a#lang-es { background-position: -1078px 0; } 
#language li a#lang-et { background-position: -1098px 0; } 
#language li a#lang-fi { background-position: -1118px 0; } 
#language li a#lang-fj { background-position: -1138px 0; } 
#language li a#lang-fr { background-position: -1158px 0; } 
#language li a#lang-ga { background-position: -1178px 0; } 
#language li a#lang-ge { background-position: -1198px 0; } 
#language li a#lang-gh { background-position: -1218px 0; } 
#language li a#lang-gm { background-position: -1238px 0; } 
#language li a#lang-gn { background-position: -1258px 0; } 
#language li a#lang-gq { background-position: -1278px 0; } 
#language li a#lang-gr { background-position: -1298px 0; } 
#language li a#lang-gt { background-position: -1317px 0; } 
#language li a#lang-gw { background-position: -1337px 0; } 
#language li a#lang-gy { background-position: -1357px 0; } 
#language li a#lang-hn { background-position: -1377px 0; } 
#language li a#lang-hr { background-position: -1397px 0; } 
#language li a#lang-ht { background-position: -1417px 0; } 
#language li a#lang-hu { background-position: -1437px 0; } 
#language li a#lang-id { background-position: -1457px 0; } 
#language li a#lang-ie { background-position: -1477px 0; } 
#language li a#lang-il { background-position: -1497px 0; } 
#language li a#lang-in { background-position: -1517px 0; } 
#language li a#lang-iq { background-position: -1537px 0; } 
#language li a#lang-ir { background-position: -1557px 0; } 
#language li a#lang-is { background-position: -1577px 0; } 
#language li a#lang-it { background-position: -1597px 0; } 
#language li a#lang-jm { background-position: -1617px 0; } 
#language li a#lang-jo { background-position: -1637px 0; } 
#language li a#lang-ja { background-position: -1657px 0; } 
#language li a#lang-ke { background-position: -1677px 0; } 
#language li a#lang-kg { background-position: -1697px 0; } 
#language li a#lang-kh { background-position: -1717px 0; } 
#language li a#lang-ki { background-position: -1737px 0; } 
#language li a#lang-km { background-position: -1757px 0; } 
#language li a#lang-kn { background-position: -1777px 0; } 
#language li a#lang-kp { background-position: -1797px 0; } 
#language li a#lang-kr { background-position: -1817px 0; } 
#language li a#lang-kw { background-position: -1837px 0; } 
#language li a#lang-kz { background-position: -1857px 0; } 
#language li a#lang-la { background-position: -1877px 0; } 
#language li a#lang-lb { background-position: -1897px 0; } 
#language li a#lang-li { background-position: -1917px 0; } 
#language li a#lang-lk { background-position: -1937px 0; } 
#language li a#lang-lr { background-position: -1957px 0; } 
#language li a#lang-ls { background-position: -1977px 0; } 
#language li a#lang-lt { background-position: -1997px 0; } 
#language li a#lang-lu { background-position: 0 -14px; } 
#language li a#lang-lv { background-position: -20px -14px; } 
#language li a#lang-ly { background-position: -40px -14px; } 
#language li a#lang-ma { background-position: -60px -14px; } 
#language li a#lang-mc { background-position: -80px -14px; } 
#language li a#lang-md { background-position: -100px -14px; } 
#language li a#lang-me { background-position: -120px -14px; } 
#language li a#lang-mg { background-position: -140px -14px; } 
#language li a#lang-mh { background-position: -160px -14px; } 
#language li a#lang-mk { background-position: -180px -14px; } 
#language li a#lang-ml { background-position: -200px -14px; } 
#language li a#lang-mm { background-position: -220px -14px; } 
#language li a#lang-mn { background-position: -240px -14px; } 
#language li a#lang-mr { background-position: -260px -14px; } 
#language li a#lang-mt { background-position: -280px -14px; } 
#language li a#lang-mu { background-position: -300px -14px; } 
#language li a#lang-mv { background-position: -320px -14px; } 
#language li a#lang-mw { background-position: -340px -14px; } 
#language li a#lang-mx { background-position: -360px -14px; } 
#language li a#lang-my { background-position: -380px -14px; } 
#language li a#lang-mz { background-position: -400px -14px; } 
#language li a#lang-na { background-position: -420px -14px; } 
#language li a#lang-ne { background-position: -440px -14px; } 
#language li a#lang-ng { background-position: -460px -14px; } 
#language li a#lang-ni { background-position: -480px -14px; } 
#language li a#lang-nl { background-position: -500px -14px; } 
#language li a#lang-no { background-position: -520px -14px; } 
#language li a#lang-np { background-position: -540px -14px; } 
#language li a#lang-nr { background-position: -560px -14px; } 
#language li a#lang-nz { background-position: -580px -14px; } 
#language li a#lang-om { background-position: -600px -14px; } 
#language li a#lang-pa { background-position: -620px -14px; } 
#language li a#lang-pe { background-position: -640px -14px; } 
#language li a#lang-pg { background-position: -660px -14px; } 
#language li a#lang-ph { background-position: -680px -14px; } 
#language li a#lang-pk { background-position: -700px -14px; } 
#language li a#lang-pl { background-position: -720px -14px; } 
#language li a#lang-ps { background-position: -740px -14px; } 
#language li a#lang-pt { background-position: -760px -14px; } 
#language li a#lang-pw { background-position: -780px -14px; } 
#language li a#lang-py { background-position: -800px -14px; } 
#language li a#lang-qa { background-position: -820px -14px; } 
#language li a#lang-ro { background-position: -840px -14px; } 
#language li a#lang-rs { background-position: -860px -14px; } 
#language li a#lang-ru { background-position: -880px -14px; } 
#language li a#lang-rw { background-position: -900px -14px; } 
#language li a#lang-sa { background-position: -920px -14px; } 
#language li a#lang-sb { background-position: -940px -14px; } 
#language li a#lang-sc { background-position: -960px -14px; } 
#language li a#lang-sd { background-position: -980px -14px; } 
#language li a#lang-se { background-position: -1000px -14px; } 
#language li a#lang-sg { background-position: -1020px -14px; } 
#language li a#lang-si { background-position: -1040px -14px; } 
#language li a#lang-sk { background-position: -1060px -14px; } 
#language li a#lang-sl { background-position: -1080px -14px; } 
#language li a#lang-sm { background-position: -1100px -14px; } 
#language li a#lang-sn { background-position: -1120px -14px; } 
#language li a#lang-so { background-position: -1140px -14px; } 
#language li a#lang-sr { background-position: -1160px -14px; } 
#language li a#lang-st { background-position: -1180px -14px; } 
#language li a#lang-sv { background-position: -1200px -14px; } 
#language li a#lang-sy { background-position: -1220px -14px; } 
#language li a#lang-sz { background-position: -1240px -14px; } 
#language li a#lang-td { background-position: -1260px -14px; } 
#language li a#lang-tg { background-position: -1280px -14px; } 
#language li a#lang-th { background-position: -1300px -14px; } 
#language li a#lang-tj { background-position: -1320px -14px; } 
#language li a#lang-tl { background-position: -1340px -14px; } 
#language li a#lang-tm { background-position: -1360px -14px; } 
#language li a#lang-tn { background-position: -1380px -14px; } 
#language li a#lang-to { background-position: -1400px -14px; } 
#language li a#lang-tr { background-position: -1420px -14px; } 
#language li a#lang-tt { background-position: -1440px -14px; } 
#language li a#lang-tv { background-position: -1460px -14px; } 
#language li a#lang-tz { background-position: -1480px -14px; } 
#language li a#lang-ua { background-position: -1500px -14px; } 
#language li a#lang-ug { background-position: -1520px -14px; } 
#language li a#lang-en { background-position: -1540px -14px; } 
#language li a#lang-us { background-position: -1560px -14px; } 
#language li a#lang-uy { background-position: -1580px -14px; } 
#language li a#lang-uz { background-position: -1600px -14px; } 
#language li a#lang-ve { background-position: -1620px -14px; } 
#language li a#lang-vn { background-position: -1640px -14px; } 
#language li a#lang-vu { background-position: -1660px -14px; } 
#language li a#lang-ws { background-position: -1680px -14px; } 
#language li a#lang-ye { background-position: -1700px -14px; } 
#language li a#lang-za { background-position: -1720px -14px; } 
#language li a#lang-zm { background-position: -1740px -14px; } 
#language li a#lang-zw { background-position: -1760px -14px; } 


.sprite-ad { background-position: 0 0; } 
.sprite-ae { background-position: -28px 0; } 
.sprite-af { background-position: -56px 0; } 
.sprite-ag { background-position: -84px 0; } 
.sprite-ai { background-position: -112px 0; } 
.sprite-al { background-position: -140px 0; } 
.sprite-am { background-position: -168px 0; } 
.sprite-an { background-position: -196px 0; } 
.sprite-ao { background-position: -224px 0; } 
.sprite-ar { background-position: -252px 0; } 
.sprite-as { background-position: -280px 0; } 

.sprite-at { background-position: -308px 0; } 
.sprite-au { background-position: -336px 0; } 
.sprite-aw { background-position: -364px 0; } 
.sprite-ax { background-position: -392px 0; } 
.sprite-az { background-position: -420px 0; } 
.sprite-ba { background-position: -448px 0; } 
.sprite-bb { background-position: -476px 0; } 
.sprite-bd { background-position: -504px 0; } 
.sprite-be { background-position: -532px 0; } 
.sprite-bf { background-position: -560px 0; } 
.sprite-bg { background-position: -588px 0; } 

.sprite-bh { background-position: -616px 0; } 
.sprite-bi { background-position: -644px 0; } 
.sprite-bj { background-position: -672px 0; } 
.sprite-bm { background-position: -700px 0; } 
.sprite-bn { background-position: -728px 0; } 
.sprite-bo { background-position: -756px 0; } 
.sprite-br { background-position: -784px 0; } 
.sprite-bs { background-position: -812px 0; } 
.sprite-bt { background-position: -840px 0; } 
.sprite-bv { background-position: -868px 0; } 
.sprite-bw { background-position: -896px 0; } 

.sprite-by { background-position: -924px 0; } 
.sprite-bz { background-position: -952px 0; } 
.sprite-ca { background-position: -980px 0; } 
.sprite-catalonia { background-position: -1008px 0; } 
.sprite-cc { background-position: -1036px 0; } 
.sprite-cd { background-position: -1064px 0; } 
.sprite-cf { background-position: -1092px 0; } 
.sprite-cg { background-position: -1120px 0; } 
.sprite-ch { background-position: -1148px 0; } 
.sprite-ci { background-position: -1171px 0; } 
.sprite-ck { background-position: -1199px 0; } 

.sprite-cl { background-position: -1227px 0; } 
.sprite-cm { background-position: -1255px 0; } 
.sprite-cn { background-position: -1283px 0; } 
.sprite-co { background-position: -1311px 0; } 
.sprite-cr { background-position: -1339px 0; } 
.sprite-cs { background-position: -1367px 0; } 
.sprite-cu { background-position: -1395px 0; } 
.sprite-cv { background-position: -1423px 0; } 
.sprite-cx { background-position: -1451px 0; } 
.sprite-cy { background-position: -1479px 0; } 
.sprite-cz { background-position: -1507px 0; } 

.sprite-de { background-position: -1535px 0; } 
.sprite-dj { background-position: -1563px 0; } 
.sprite-dk { background-position: -1591px 0; } 
.sprite-dm { background-position: -1619px 0; } 
.sprite-do { background-position: -1647px 0; } 
.sprite-dz { background-position: -1675px 0; } 
.sprite-ec { background-position: -1703px 0; } 
.sprite-ee { background-position: -1731px 0; } 
.sprite-eg { background-position: -1759px 0; } 
.sprite-eh { background-position: -1787px 0; } 
.sprite-england { background-position: -1815px 0; } 

.sprite-er { background-position: -1843px 0; } 
.sprite-es { background-position: -1871px 0; } 
.sprite-et { background-position: -1899px 0; } 
.sprite-europeanunion { background-position: -1927px 0; } 
.sprite-fam { background-position: -1955px 0; } 
.sprite-fi { background-position: -1983px 0; } 
.sprite-fj { background-position: 0 -28px; } 
.sprite-fk { background-position: -28px -28px; } 
.sprite-fm { background-position: -56px -28px; } 
.sprite-fo { background-position: -84px -28px; } 
.sprite-fr { background-position: -112px -28px; } 

.sprite-ga { background-position: -140px -28px; } 
.sprite-gb { background-position: -168px -28px; } 
.sprite-gd { background-position: -196px -28px; } 
.sprite-ge { background-position: -224px -28px; } 
.sprite-gf { background-position: -252px -28px; } 
.sprite-gh { background-position: -280px -28px; } 
.sprite-gi { background-position: -308px -28px; } 
.sprite-gl { background-position: -336px -28px; } 
.sprite-gm { background-position: -364px -28px; } 
.sprite-gn { background-position: -392px -28px; } 
.sprite-gp { background-position: -420px -28px; } 

.sprite-gq { background-position: -448px -28px; } 
.sprite-gr { background-position: -476px -28px; } 
.sprite-gs { background-position: -504px -28px; } 
.sprite-gt { background-position: -532px -28px; } 
.sprite-gu { background-position: -560px -28px; } 
.sprite-gw { background-position: -588px -28px; } 
.sprite-gy { background-position: -616px -28px; } 
.sprite-hk { background-position: -644px -28px; } 
.sprite-hm { background-position: -672px -28px; } 
.sprite-hn { background-position: -700px -28px; } 
.sprite-hr { background-position: -728px -28px; } 

.sprite-ht { background-position: -756px -28px; } 
.sprite-hu { background-position: -784px -28px; } 
.sprite-id { background-position: -812px -28px; } 
.sprite-ie { background-position: -840px -28px; } 
.sprite-il { background-position: -868px -28px; } 
.sprite-in { background-position: -896px -28px; } 
.sprite-io { background-position: -924px -28px; } 
.sprite-iq { background-position: -952px -28px; } 
.sprite-ir { background-position: -980px -28px; } 
.sprite-is { background-position: -1008px -28px; } 
.sprite-it { background-position: -1036px -28px; } 

.sprite-jm { background-position: -1064px -28px; } 
.sprite-jo { background-position: -1092px -28px; } 
.sprite-jp { background-position: -1120px -28px; } 
.sprite-ke { background-position: -1148px -28px; } 
.sprite-kg { background-position: -1176px -28px; } 
.sprite-kh { background-position: -1204px -28px; } 
.sprite-ki { background-position: -1232px -28px; } 
.sprite-km { background-position: -1260px -28px; } 
.sprite-kn { background-position: -1288px -28px; } 
.sprite-kp { background-position: -1316px -28px; } 
.sprite-kr { background-position: -1344px -28px; } 

.sprite-kw { background-position: -1372px -28px; } 
.sprite-ky { background-position: -1400px -28px; } 
.sprite-kz { background-position: -1428px -28px; } 
.sprite-la { background-position: -1456px -28px; } 
.sprite-lb { background-position: -1484px -28px; } 
.sprite-lc { background-position: -1512px -28px; } 
.sprite-li { background-position: -1540px -28px; } 
.sprite-lk { background-position: -1568px -28px; } 
.sprite-lr { background-position: -1596px -28px; } 
.sprite-ls { background-position: -1624px -28px; } 
.sprite-lt { background-position: -1652px -28px; } 

.sprite-lu { background-position: -1680px -28px; } 
.sprite-lv { background-position: -1708px -28px; } 
.sprite-ly { background-position: -1736px -28px; } 
.sprite-ma { background-position: -1764px -28px; } 
.sprite-mc { background-position: -1792px -28px; } 
.sprite-md { background-position: -1820px -28px; } 
.sprite-me { background-position: -1848px -28px; } 
.sprite-mg { background-position: -1876px -28px; } 
.sprite-mh { background-position: -1904px -28px; } 
.sprite-mk { background-position: -1932px -28px; } 
.sprite-ml { background-position: -1960px -28px; } 

.sprite-mm { background-position: 0 -57px; } 
.sprite-mn { background-position: -28px -57px; } 
.sprite-mo { background-position: -56px -57px; } 
.sprite-mp { background-position: -84px -57px; } 
.sprite-mq { background-position: -112px -57px; } 
.sprite-mr { background-position: -140px -57px; } 
.sprite-ms { background-position: -168px -57px; } 
.sprite-mt { background-position: -196px -57px; } 
.sprite-mu { background-position: -224px -57px; } 
.sprite-mv { background-position: -252px -57px; } 
.sprite-mw { background-position: -280px -57px; } 

.sprite-mx { background-position: -308px -57px; } 
.sprite-my { background-position: -336px -57px; } 
.sprite-mz { background-position: -364px -57px; } 
.sprite-na { background-position: -392px -57px; } 
.sprite-nc { background-position: -420px -57px; } 
.sprite-ne { background-position: -448px -57px; } 
.sprite-nf { background-position: -476px -57px; } 
.sprite-ng { background-position: -504px -57px; } 
.sprite-ni { background-position: -532px -57px; } 
.sprite-nl { background-position: -560px -57px; } 
.sprite-no { background-position: -588px -57px; } 
.sprite-np { background-position: -616px -57px; } 
.sprite-nr { background-position: -637px -57px; } 
.sprite-nu { background-position: -665px -57px; } 
.sprite-nz { background-position: -693px -57px; } 
.sprite-om { background-position: -721px -57px; } 
.sprite-pa { background-position: -749px -57px; } 
.sprite-pe { background-position: -777px -57px; } 
.sprite-pf { background-position: -805px -57px; } 
.sprite-pg { background-position: -833px -57px; } 
.sprite-ph { background-position: -861px -57px; } 
.sprite-pk { background-position: -889px -57px; } 
.sprite-pl { background-position: -917px -57px; } 
.sprite-pm { background-position: -945px -57px; } 
.sprite-pn { background-position: -973px -57px; } 
.sprite-pr { background-position: -1001px -57px; } 
.sprite-ps { background-position: -1029px -57px; } 
.sprite-pt { background-position: -1057px -57px; } 
.sprite-pw { background-position: -1085px -57px; } 
.sprite-py { background-position: -1113px -57px; } 
.sprite-qa { background-position: -1141px -57px; } 
.sprite-re { background-position: -1169px -57px; } 
.sprite-ro { background-position: -1197px -57px; } 
.sprite-rs { background-position: -1225px -57px; } 
.sprite-ru { background-position: -1253px -57px; } 
.sprite-rw { background-position: -1281px -57px; } 
.sprite-sa { background-position: -1309px -57px; } 
.sprite-sb { background-position: -1337px -57px; } 
.sprite-sc { background-position: -1365px -57px; } 
.sprite-scotland { background-position: -1393px -57px; } 
.sprite-sd { background-position: -1421px -57px; } 
.sprite-se { background-position: -1449px -57px; } 
.sprite-sg { background-position: -1477px -57px; } 
.sprite-sh { background-position: -1505px -57px; } 
.sprite-si { background-position: -1533px -57px; } 
.sprite-sj { background-position: -1561px -57px; } 
.sprite-sk { background-position: -1589px -57px; } 
.sprite-sl { background-position: -1617px -57px; } 
.sprite-sm { background-position: -1645px -57px; } 
.sprite-sn { background-position: -1673px -57px; } 
.sprite-so { background-position: -1701px -57px; } 
.sprite-sr { background-position: -1729px -57px; } 
.sprite-st { background-position: -1757px -57px; } 
.sprite-sv { background-position: -1785px -57px; } 
.sprite-sy { background-position: -1813px -57px; } 
.sprite-sz { background-position: -1841px -57px; } 
.sprite-tc { background-position: -1869px -57px; } 
.sprite-td { background-position: -1897px -57px; } 
.sprite-tf { background-position: -1925px -57px; } 
.sprite-tg { background-position: -1953px -57px; } 
.sprite-th { background-position: -1981px -57px; } 
.sprite-tj { background-position: 0 -86px; } 
.sprite-tk { background-position: -28px -86px; } 
.sprite-tl { background-position: -56px -86px; } 
.sprite-tm { background-position: -84px -86px; } 
.sprite-tn { background-position: -112px -86px; } 
.sprite-to { background-position: -140px -86px; } 
.sprite-tr { background-position: -168px -86px; } 
.sprite-tt { background-position: -196px -86px; } 
.sprite-tv { background-position: -224px -86px; } 
.sprite-tw { background-position: -252px -86px; } 
.sprite-tz { background-position: -280px -86px; } 
.sprite-ua { background-position: -308px -86px; } 
.sprite-ug { background-position: -336px -86px; } 
.sprite-um { background-position: -364px -86px; } 
.sprite-us { background-position: -392px -86px; } 
.sprite-uy { background-position: -420px -86px; } 
.sprite-uz { background-position: -448px -86px; } 
.sprite-va { background-position: -476px -86px; } 
.sprite-vc { background-position: -504px -86px; } 
.sprite-ve { background-position: -532px -86px; } 
.sprite-vg { background-position: -560px -86px; } 
.sprite-vi { background-position: -588px -86px; } 
.sprite-vn { background-position: -616px -86px; } 
.sprite-vu { background-position: -644px -86px; } 
.sprite-wales { background-position: -672px -86px; } 
.sprite-wf { background-position: -700px -86px; } 
.sprite-ws { background-position: -728px -86px; } 
.sprite-ye { background-position: -756px -86px; } 
.sprite-yt { background-position: -784px -86px; } 
.sprite-za { background-position: -812px -86px; } 
.sprite-zm { background-position: -840px -86px; } 
.sprite-zw { background-position: -868px -86px; }