/*Norman Khine - 2011 - Zeitgeist Movement */
/*
*	#554499 
*   #33ccee
*   #cc5599
*   #cccc33
*   #777755
*   dull	
*   #2200bb
*   #00ddff
*   #ff0088
*   #ffff00
*   #997733
*   vibrant
*
*   hd colors from left to right
*   db008b - deep purple
*   992592 - plum purple
*   7aff45 - green
*   f1da36 - light golden yellow
*   e8ae00 - gold yello


http://jqueryui.com/themeroller/?ctl=themeroller&ctl=themeroller&#ffDefault=Lucida+Grande,+Lucida+Sans,+Arial,+sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=5px&bgColorHeader=5c9ccc&bgTextureHeader=12_gloss_wave.png&bgImgOpacityHeader=55&borderColorHeader=4297d7&fcHeader=ffffff&iconColorHeader=d8e7f3&bgColorContent=fcfdfd&bgTextureContent=06_inset_hard.png&bgImgOpacityContent=100&borderColorContent=a6c9e2&fcContent=222222&iconColorContent=469bdd&bgColorDefault=dfeffc&bgTextureDefault=02_glass.png&bgImgOpacityDefault=85&borderColorDefault=c5dbec&fcDefault=2e6e9e&iconColorDefault=6da8d5&bgColorHover=d0e5f5&bgTextureHover=02_glass.png&bgImgOpacityHover=75&borderColorHover=79b7e7&fcHover=1d5987&iconColorHover=217bc0&bgColorActive=f5f8f9&bgTextureActive=06_inset_hard.png&bgImgOpacityActive=100&borderColorActive=79b7e7&fcActive=e17009&iconColorActive=f9bd01&bgColorHighlight=fbec88&bgTextureHighlight=01_flat.png&bgImgOpacityHighlight=55&borderColorHighlight=fad42e&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=02_glass.png&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=01_flat.png&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
*
*/
@charset "utf-8";
html, body{height:100%;}
html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video{border:0;outline:0;vertical-align: top;background:transparent;margin:0;padding:0;}
body,input,select,textarea{line-height:1;font:96% "Helvetica Neue",Arial,Helvetica,sans-serif;color:#393939;}
body{position:relative;z-index:0;background:#f0f0f0;overflow-y:auto;}

#surface{min-height:60%;height:auto;background:#ffffff}
* html #surface{height:60%;}/* ie6 and under*/

.window-overlay{background-color:rgba(0, 0, 0, 0.6);display:none;height:100%;left:0;position:absolute;top:0;width:100%;z-index:6;}
.window-up #surface .button-link{background-image:none;background-color:#fafafa;border-color:#cecece;color:#393939;}

h1, h2 {
    font-size:116%;
    font-weight:bold;
}

/**************************************************************************
 * YUI overwrites 
 **************************************************************************/

.media {
    padding: 0 5px 0 5px;
    width: 26%;
}

.chat {
    width: 24%;
}
/**************************************************************************
 * MESSAGE
 * ***********************************************************************/
#message a {
  padding: 0;
  margin: 0;
  border: none;
}

#message .info {
  border-color: #333;
  background-color: #ccc;
  color: #000;
}

/**************************************************************************
 * PAGE
 * ***********************************************************************/
#page {
  padding: 5px 10px;
}

/**************************************************************************
 * PORTLET
 * ***********************************************************************/
#portlet {
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  -moz-border-radius: 0 5px 5px 5px;
  -webkit-border-radius: 0 5px 5px 5px;
  border-radius: 0 5px 5px 5px;

  border-color: currentColor #ddd #ddd;
  border-right: 1px solid #ddd;
  border-style: none solid solid;
  border-width: medium 1px 1px;
  clear: both;
  margin: 5px;
  position: relative;
  text-align: left;
  background: #fff;
}
/**************************************************************************
 * HEADER
 * ***********************************************************************/
 #hd{
	 background: rgb(14,14,14); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBlMGUwZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU1JSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left,  rgba(14,14,14,1) 0%, rgba(125,126,125,1) 55%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(14,14,14,1)), color-stop(55%,rgba(125,126,125,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(14,14,14,1) 0%,rgba(125,126,125,1) 55%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(14,14,14,1) 0%,rgba(125,126,125,1) 55%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(14,14,14,1) 0%,rgba(125,126,125,1) 55%); /* IE10+ */
	background: linear-gradient(left,  rgba(14,14,14,1) 0%,rgba(125,126,125,1) 55%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=1 ); /* IE6-8 */
	}

/**************************************************************************
* LOGO
* ***********************************************************************/
#logo h1 {
	background:url(/ui/core/resources/tzm-logo-32.png) top left no-repeat;
	width:83px;
	height:37px;
	}

#logo h1 a{
    position:relative;
    top:-15px; 
    font-size:118%;
    color:#511f88; 
    white-space: nowrap;
    line-height:92px;
    display:block;
    text-indent: -5000px;
    text-decoration:none;
    border:none;
    background:none;}
    
#logo h1 a:hover{background:none;border:none;text-decoration: none;}

/**************************************************************************
 * MENU
 * ***********************************************************************/
#menu {
  font-size: 100%;
}

#menu ul {
  padding-left: 0;
  white-space: nowrap;
}

#menu ul li {
  float: left;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-right: 4px;
}

#menu ul li a {
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  display: block;
  font-size: 1em;
  padding: 5px 15px;
  text-decoration: none;
  /* normal style */
  background: #333;
  color: #fff;
}

#menu ul li a:hover {
  background: #ccc;
  color: #000;
}

#menu ul li.in-path a {
  background: #fff;
  color: #333;
}

/**************************************************************************
 * Profile 
 **************************************************************************/
#user-menu {}
#user-menu ul{float:right;list-style:none;margin:0 0 0 15px;padding:0;}
#user-menu li{float:left;margin:3px;padding:0;}

#user-menu .profile {
	display: inline-block;
	text-indent: -9999px;
	background:url(/ui/core/resources/profile.png) 0 0 no-repeat;
	width:32px;
	height:32px;
}

#user-menu .login {
	display: inline-block;
	text-indent: -9999px;
	background:url(/ui/core/resources/login.png) 0 0 no-repeat;
	width:32px;
	height:32px;
	}

#user-menu .logout {
	display: inline-block;
	text-indent: -9999px;
	background:url(/ui/core/resources/logout.png) 0 0 no-repeat;
	width:32px;
	height:32px;
}
	
#user-menu .help {
	display: inline-block;
	text-indent: -9999px;
	background:url(/ui/core/resources/lightbulb.png) 0 0 no-repeat;
	width:32px;
	height:32px;
}

#user-menu .contact {
	display: inline-block;
	text-indent: -9999px;
	background:url(/ui/core/resources/communication.png) 0 0 no-repeat;
	width:32px;
	height:32px;
}

#user-menu a.profile:hover {background:url(/ui/core/resources/profile-hover.png) 0 0 no-repeat;}
#user-menu a.login:hover {background:url(/ui/core/resources/login-hover.png) 0 0 no-repeat;}
#user-menu a.logout:hover {background:url(/ui/core/resources/logout-hover.png) 0 0 no-repeat;}
#user-menu a.help:hover {background:url(/ui/core/resources/lightbulb-hover.png) 0 0 no-repeat;}
#user-menu a.contact:hover {background:url(/ui/core/resources/communication-hover.png) 0 0 no-repeat;}

a.fav_link:hover {
				background: url(../images/favourite.png) no-repeat;
			}

/**************************************************************************
 * Search 
 **************************************************************************/
#user-menu .advanced-search {
     display: inline-block;
     text-indent: -9999px;
     background: url('/ui/core/resources/advanced_search_icon.png') 0 0 no-repeat;
	width:32px;
	height:32px;
    opacity: .2;
 }

#user-menu a.advanced-search:hover {opacity: 10.0;}

#user-menu .search input {
     font-size: 100%;
     padding: 5px 2px 5px 25px;
     border: 1px solid #DDD;
     border-top-color: #CCC;
     border-bottom-color: #EAEAEA;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
     background: url('/ui/core/resources/search_icon.png') 5px 50% no-repeat white;
 }

.placeholder-field {
    left: 25px;
}
#user-menu form input.button {
     display: none;
 }
 
#user-menu input[type="search"] {
    padding: 10px 0 0 0;
}
/**************************************************************************
 * LOCATIONS
 * ***********************************************************************/
#location {
    font-size: 77%;
    margin-left: 10px;
    padding: 5px 0 0 0;
}

#submenu {
    margin-left: 15px;
    padding: 5px 0 0 0;
    font-size: 85%;
}

#breadcrumbs a:hover,
#tabs .menu a:hover {
  background-color: #333;
  color: #fff;
}

/**************************************************************************
 * Activities box
 * ***********************************************************************/
 
.box-holder {
    width: 100%;
    overflow: hidden;
    padding: 0 0 25px;
    background: url(/ui/core/resources/bg-border2.png) repeat-x 0 100%;
}

.box {
    background: url(/ui/core/resources/box-m.gif) repeat-y;
    width: 620px;
    height: 1%;
    margin: 21px 0 0;
}

.box h3 {
    margin: 10px 0 0;
    color: #6C0;
    font-size: 18px;
    font-weight: 400;
}

.box .holder {
    background: url(/ui/core/resources/box-t2.gif) no-repeat;
}

.box .holder .frame {
    background: url(/ui/core/resources/box-b.gif) no-repeat 0 100%;
    width: 620px;
    padding: 18px 4px 42px 16px;
}

.box .holder .frame::after {
    content: "";
    display: block;
    clear: both;
}

.box-content {
    margin-top: -5px;
    margin-bottom: -5px;
    color: #6E7F8B;
    font-size: 77%;
}

.box ul.supports-list {
    list-style: none;
    font-size: 11px;
    margin: 7px 0 0;
    padding: 0;
}

.box ul.supports-list li p {
    font: 11px Verdana, Arial, Helvetica, sans-serif;
    height: 1%;
    overflow: hidden;
    margin: 0;
}

.box ul.supports-list li {
    float: left;
    width: 209px;
    display: list-item;
    text-align: -webkit-match-parent;
    outline-style: none;
}

.box ul.supports-list li.last {
    width: 200px;
    position: relative;
    float: left;
}

.box ul.supports-list li img {
    float: left;
    margin: 0 8px 7px 0;
}

.box ul.supports-list li a {
    float: left;
    clear: both;
    background: url(/ui/core/resources/bg-more.gif) no-repeat 0 center;
    padding: 0 0 0 20px;
    color: #333;
    line-height: 16px;
}

/**************************************************************************
 * UPPER FOOTER
 * ***********************************************************************/
#upper-footer {
    background: url("images/bg_footer_top.png") repeat-x scroll 0 0 #F8F8F8;
    min-height: 160px;
    overflow: hidden;
    text-align: center;
  }

#upper-footer .upper_footer {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#upper-footer .upper_footer ul.footer_nav {
    text-align: left;
    float: left;
    margin: 20px 10px;
    position: relative;
    width: 164px;
}

#upper-footer #tzm {
    background: url("/ui/core/resources/tzm-logo.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 130px;
    margin: 15px 20px 0 15px;
    text-indent: -5000px;
    width: 164px;
}

/**************************************************************************
 * LOWER FOOTER
 * ***********************************************************************/
#lower-footer {
	float: center;
  }
  
#lower-footer {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 85%;
} 
#lower-footer h1 {position:relative;top:-25px;background:url(/ui/core/resources/phx-logo-60x69.png) top left no-repeat;width:60px;height:60px; }
#lower-footer h1 a { width:60px;line-height:60px;display:block;text-indent:-5000px;text-decoration:none;border:none;background:none;}
#lower-footer ul {position:relative;top:-25px;list-style:none;margin:0;padding:0;}
#lower-footer li {float:left;margin-top:5px;padding:0;}
#lower-footer a {margin-left: 1em; margin-right: 1em; margin-right: 1em;text-decoration: none;}
#lower-footer a:hover {text-decoration: underline;}

.space { width:65px; }

.horizontal-up  {
  width: 100%;
  border-top: 1px solid gray;
  padding: 5px 0;
  float: middle;
  min-height: 5px;
  background: url('/ui/common/images/admin-background-up.png') top left repeat-x #b8b8b8;
}
.youtube {
    width:auto;
    margin:0 5px 0 5px;
}

.demo-container {
	border: 1px solid #009BE3;
	padding:0 20px;
	font-family: "Myriad Pro Regular","Trebuchet MS";
}

.demo-container a, .demo-container a:link, .demo-container a:visited, .demo-container a:hover, .demo-container a:focus, .demo-container a:active {
	color: #009BE3;
}

.demo-container ul {
	list-style-type:none;
	padding:0;
	margin:1em 0;
	width:100%;
	overflow:hidden;
}

.demo-container ul span {
	color: #A0A600;
}

.demo-container li {
	float:left;
	margin-right:1em;
}

.demo-container p span.track-name {
	color: #CC0090;
}

.thumb-rating {
    float: right;
}
input.like-button, input.dislike-button {
    padding: 10px 5px;
    background-color: inherit;
    border: 1px solid #EEE;
    cursor: pointer;
    border-image: initial;
}

form input.like-button {
    padding-left: 30px;
    background-image: url(/ui/core/resources/thumbs-up-off.png);
    background-repeat: no-repeat;
    background-position: left center;
}

form input.dislike-button {
    background-image: url(/ui/core/resources/thumbs-down-off.png);
    background-repeat: no-repeat;
    background-position: left center;
    text-indent: -3000px;
    white-space: nowrap;
    width: 35px;
}

.button ul li a {
background: transparent url(/ui/core/resources/all_buttons.png) no-repeat scroll 0 0;
color: #646363;
display: block;
font-size: 12px;
height: 41px;
line-height: 38px;
margin-right: 4px;
padding: 0;
text-align: center;
text-indent: 30px;
width: 152px;
font-variant: small-caps;
}

.button ul li a:hover{text-decoration:none;}
.button ul li.newsletter a{background-position:-155px 0;}
.button ul li.forum a{background-position:-312px 0;}
.button ul li.gallery a{background-position:-465px 0;}
.button ul li.subscription a:hover{background-position:0px -60px;}
.button ul li.newsletter a:hover{background-position:-155px -60px;}
.button ul li.forum a:hover{background-position:-312px -60px;}
.button ul li.gallery a:hover{background-position:-465px -60px;}

.list-cards {
clear: both;
margin-bottom: 0;
min-height: 20px;
overflow-y:auto;
overflow-x: hidden;
padding: 4px 3px 1px;
z-index: 1;
}

div#chat {
	width:100%;
	height:100px;
	overflow:auto;
}

@media print{*{text-shadow:none !important;} #surface{height:auto !important;} body{overflow:visible !important;} #header{display:none;} #notification{display:none !important;}